.container {
  max-width: 650px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.wholepage {
  border: 1px black solid;
  background-color: black;
  color: white;
  font-family: "Josefin Slab", serif;
}

.allApp {
  display: flex;
  justify-content: space-evenly;
}

.sun_emoji {
  width: 200px;
  float: left;
  margin-right: 20px;
}

ul {
  list-style-type: none;
}

.units {
  position: relative;
  top: -42px;
  padding-left: 5px;
  font-size: 20px;
}

.degree {
  font-size: 80px;
  font-weight: 700;
}

.insky {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
}

.feelslike {
  font-size: 15px;
}

.cityblock {
  margin-left: 10px;
}
.search-city {
  border-radius: 50px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.choise-city {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.time {
  text-align: center;
  font-size: 15px;
}

.weather-forecast {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 50%;
  border-style: solid;
  display: inline-block;
}

.weather-forecast-date {
  font-size: 18px;
  padding: 5px 10px 5px 10px;
}

.weather-forecast-temperature {
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
}

footer {
  font-size: small;
}
