.wholepage {
  border: 1px black solid;
  max-width: 900px;
  background-color: black;
  color: white;
  font-family: "Josefin Slab", serif;
}
.container {
  max-width: 900px;
}

.allApp {
  padding-top: 20px;
}

.WTblock {
  margin-bottom: 0;
}

.sun_emoji {
  width: 200px;
  float: left;
  margin-right: 20px;
}

ul {
  list-style-type: none;
}

.degree {
  font-size: 80px;
  font-weight: 700;
}
.units {
  position: relative;
  top: -42px;
  padding-left: 10px;
}

.insky {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
}

.feelslike {
  font-size: small;
}

.cityblock {
  margin-left: 40px;
}

.search-city {
  border-radius: 50px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.choise-city,
.time {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.card {
  background-color: black;
}

.dot {
  height: 80px;
  width: 80px;
  background-color: black;
  border-radius: 50%;
  border-style: solid;
  display: inline-block;
}

.dot2 {
  height: 80px;
  width: 80px;
  background-color: black;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  display: inline-block;
  font-weight: 900;
}

.card-text {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
}

.week {
  padding-left: 0;
  padding-right: 0;
}

button {
  background-image: url("https://i.pinimg.com/564x/9d/ec/f9/9decf96b4e45cbac0f7de16222e968f8.jpg");
  background-size: 40px;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  border-radius: 40px;
  position: relative;
  right: 50px;
  top: -60px;
}

button:hover {
  cursor: auto;
}
footer {
  font-size: small;
  /* text-align: center; */
  /* margin-left: 18px; */
}

a {
  color: #000000;
  background-color: transparent;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

/* a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline; */
/* } */
