.wholepage {
  border: 1px black solid;
  max-width: 900px;
  background-color: black;
  color: white;
  font-family: "Josefin Slab", serif;
}
.container {
  max-width: 900px;
}

.allApp {
  padding-top: 20px;
}

.WTblock {
  margin-bottom: 0;
}

.sun_emoji {
  width: 200px;
  float: left;
  margin-right: 20px;
}

ul {
  list-style-type: none;
}

.units {
  position: relative;
  top: -42px;
  padding-left: 5px;
  font-size: 20px;
}

.weather-block .active {
  color: white;
  text-decoration: none;
  cursor: default;
  font-weight: bolder;
  font-size: 25px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: #64e3fd;
}

.degree {
  font-size: 80px;
  font-weight: 700;
}

.insky {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
}

.feelslike {
  font-size: small;
}

.cityblock {
  margin-left: 40px;
}

.search-city {
  border-radius: 50px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.choise-city,
.time {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.card {
  background-color: black;
}

.dot {
  height: 80px;
  width: 80px;
  background-color: black;
  border-radius: 50%;
  border-style: solid;
  display: inline-block;
}

.dot2 {
  height: 80px;
  width: 80px;
  background-color: black;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  display: inline-block;
  font-weight: 900;
}

.card-text {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
}

.week {
  padding-left: 0;
  padding-right: 0;
}

footer {
  font-size: small;
}

.footer-link {
  color: black; !important
}
